.formControl {
    margin-bottom: 80px !important;
}

.select {
    text-transform: uppercase !important;
    color: red !important;
    font-size: 1.2rem !important;
}

.selectCountry {
    display: flex;
    flex-direction: column;
    align-items: center;
}